<!--<#import "/spring.ftl" as spring/>-->

<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class = "container" style="margin-top: 60px">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "panel panel-default">
                <div class = "panel-heading" th:text="#{display.masters}">Masters</div>
                <div class = "panel-body">
                    <form action="#" th:action="@{/master-display}" method="get"></form>
                    <table class = "table table-striped" th:field="${all_masters}">
                        <thead class ="thead-dark">
                        <tr>
                            <th th:text="#{display.id}">id</th>
                            <th th:text="#{display.first_name}">first name</th>
                            <th th:text="#{display.last_name}">last name</th>
                            <th th:text="#{display.login}">login</th>
                            <th th:text="#{display.password}">password</th>
                            <th >delete</th>
                            <th >update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="m : ${all_masters}">
                            <td th:text="${m.id}"
                                th:value="${m.id}"></td>
                            <td th:text="${m.firstName}"
                                th:value="${m.firstName}"></td>
                            <td th:text="${m.lastName}"
                                th:value="${m.lastName}"></td>
                            <td th:text="${m.login}"
                                th:value="${m.login}"></td>
                            <td th:text="${m.password}"
                                th:value="${m.password}"></td>
                            <td>
                                <form th:action="@{/master-display/remove/{id}(id=${m.id})}" method="post">
                                    <button style="margin-top: 10px" type="submit" class="btn btn-sm btn-secondary">Remove</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/master-display/edit/{id}(id=${m.id})}" method="get">
                                    <button type="submit" class="btn btn-sm btn-info">Edit</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class = "footer" style="margin-top: 20px">
        <div class="aboutLanguage">
            <span th:text="#{lang.change}"></span>:
            <a href="?lang=en" th:text="#{lang.en}">english</a>
            /
            <a href="?lang=uk" th:text="#{lang.uk}">ukrainian</a>
        </div>
        <div class="footer_bar">
            <a href="/main" th:text="#{main.return}">main</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" src="js/masterDisplayApp.js"></script>

</body>
</html>