<!DOCTYPE html>
<html lang = "en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Easy Repairs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container" style="margin-top: 50px">

    <div class = "navigation">
        <h2 class="h2">Easy Repairs</h2>
        <h3 th:text="#{index.greeting}"></h3>
        <ul class="nav nav-tabs nav-fill bg-light">
            <li class="nav-item">
                <a class="nav-link disabled" href="/main" th:text = "#{index.nav_bar.main}">main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration" th:text = "#{index.nav_bar.registration}">sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" th:text = "#{index.nav_bar.log_in}">sign in</a>
            </li>
            <li class="nav-item" sec:authorize ="hasAuthority('ADMIN')">
                <a class="nav-link" href="/display" th:text = "#{index.nav_bar.display}">display</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:text = "#{index.nav_bar.log_out}">sign out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/request" th:text = "#{index.nav_bar.request}">leave request</a>
            </li>
        </ul>

    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" >
        <p>diccccc</p>
    </div>


    <div class = "userInfo" sec:authorize ="hasAuthority('ADMIN')">
        Logged user: <span sec:authentication="name">Bob</span>
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>

    <div class = "footer" style="margin-top: 20px">
        <span th:text="#{lang.change}"></span>:
        <a href="?lang=en" th:text="#{lang.en}">english</a>
        /
        <a href="?lang=uk" th:text="#{lang.uk}">ukrainian</a>
    </div>
</div>


</body>
</html>