<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container" style="margin-top: 60px">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="page-header" th:text="#{reg.master.header}">Registration Form</h2>

            <h5 class="text-success" th:text="${message}"></h5>
            <form style="margin-bottom: 30px" action="#" th:action="@{/master-registration}" name="form" autocomplete="off" th:object="${master}" method="post">
                <div class="form-group">
                    <label id="firsNameInputLabel" for="firstNameExampleElement" th:text="#{reg.first_name}">first name</label>
                    <input type="text"
                           class="form-control"
                           id="firstNameExampleElement"
                           th:field="*{firstName}"
                           th:placeholder="#{reg.enter.first_name}"
                           required>
                </div>
                <div class="form-group">
                    <label id="lastNameInputLabel" for="lastNameExampleElement" th:text="#{reg.last_name}">last name</label>
                    <input type="text"
                           class="form-control"
                           id="lastNameExampleElement"
                           th:field="*{lastName}"
                           th:placeholder="#{reg.enter.last_name}"
                           required>
                </div>
                <div class="form-group">
                    <label id="loginInputLabel" for="loginExampleElement" th:text="#{reg.login}">login</label>
                    <input type="text"
                           class="form-control"
                           id="loginExampleElement"
                           th:field="*{login}"
                           th:placeholder="#{reg.enter.login}"
                           required>
                </div>
                <div class="form-group">
                    <label id="passwordInputLabel" for="passwordExampleElement" th:text="#{reg.password}">password</label>
                    <input type="text"
                           class="form-control"
                           id="passwordExampleElement"
                           th:field="*{password}"
                           th:placeholder="#{reg.enter.password}"
                           required>
                </div>

                <div class="form-group">

                    <label id="SecondTypeLabel" for="specification" class="col-form-label" >Select specification</label>
                    <select multiple class="form-control" id="specification" th:field="*{specifications}" required>
                        <option value="" th:each="specifications : ${all_specifications} " required
                        th:text="${specifications}"
                        th:value="${specifications}">
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success" style="margin-top:30px" th:text="#{reg.register}">
                    Submit
                </button>
            </form>
            <div class="aboutLanguage">
                <span th:text="#{lang.change}"></span>:
                <a href="?lang=en" th:text="#{lang.en}">english</a>
                /
                <a href="?lang=uk" th:text="#{lang.uk}">ukrainian</a>
            </div>
            <div class="footer_bar">
                <a href="/main" th:text="#{main.return}">main</a>
            </div>

        </div>
    </div>

</div>

</body>
</html>